/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_sv.h"

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        left_hold_tap: left_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            hold-trigger-key-positions = <7 8 9 10 10 11 12 13 24 25 26 27 36 37 38 39 7 8 9 11 12 13 21 22 23 24 25 26 27 34 35 36 37 38 39 43 44 45>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <130>;
        };

        right_hold_tap: right_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <130>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 42 41 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&lt 2 TAB   &kp Q                        &kp W  &kp E  &kp R                   &kp T  &kp C_MUTE  &kp C_PP  &kp Y      &kp U                    &kp I          &kp O    &kp P                                    &kp SV_A_RING
&kp ESCAPE  &left_hold_tap LEFT_SHIFT A  &kp S  &kp D  &left_hold_tap LCTRL F  &kp G  &kp LALT    &kp RALT  &kp H      &right_hold_tap RCTRL J  &kp K          &kp L    &right_hold_tap RIGHT_SHIFT SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp LSHFT   &kp Z                        &kp X  &kp C  &kp V                   &kp B                        &kp N      &kp M                    &kp COMMA      &kp DOT  &kp SV_MINUS                             &kp LSHFT
                                                &mo 3  &mo 2                   &mo 1                        &kp ENTER  &kp SPACE                &kp BACKSPACE
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>,
                <&inc_dec_kp PAGE_UP PG_DN>,
                <&inc_dec_kp UP DOWN>;
        };

        NAV {
            display-name = "NAVIGATION";
            bindings = <
&trans  &kp LG(N1)   &kp LG(N2)  &kp LG(N3)       &kp LG(N4)    &kp LG(N5)  &kp LCTRL   &kp RCTRL  &kp HOME      &kp PAGE_DOWN  &kp PG_UP   &kp END        &kp LG(LS(LEFT))  &kp LG(LS(RIGHT))
&trans  &kp LS(TAB)  &kp TAB     &kp LA(LS(TAB))  &kp LA(TAB)   &kp LG(V)   &kp LA(F4)  &kp CAPS   &kp LEFT      &kp DOWN       &kp UP      &kp RIGHT      &kp LC(LS(TAB))   &kp LC(TAB)
&trans  &kp LG(TAB)  &kp LG(D)   &kp LG(SV_R)     &kp LG(SV_E)  &kp LG(L)                          &kp LC(LEFT)  &kp LG(DOWN)   &kp LG(UP)  &kp LC(RIGHT)  &kp LG(LEFT)      &kp LG(RIGHT)
                                 &trans           &trans        &trans                             &trans        &kp LC(A)      &kp LGUI
            >;
        };

        sym {
            display-name = "SYMBOL";
            bindings = <
&trans     &trans  &kp SV_TILDE  &kp SV_CARET  &kp SV_DQT      &kp SV_POUND_SIGN  &kp LCTRL  &kp RCTRL  &kp SV_AMPERSAND  &kp SV_LBRC  &kp SV_RBRC  &kp SV_EXCL   &kp SV_QMARK  &kp SV_GRAVE
&kp LCTRL  &trans  &kp AT        &kp DOLLAR    &kp SV_PERCENT  &trans             &kp LALT   &kp RALT   &kp SV_ASTERISK   &kp SV_LPAR  &kp SV_RPAR  &kp SV_LBKT   &kp SV_RBKT   &kp SV_SQT
&kp LSHFT  &trans  &trans        &trans        &trans          &trans                                   &kp SV_HASH       &kp SV_LT    &kp SV_GT    &kp SV_SLASH  &kp SV_PIPE   &kp SV_BSLH
                                 &kp LGUI      &trans          &mo 4                                    &kp SV_AT         &kp SV_DLLR  &kp DEL
            >;
        };

        num {
            display-name = "NUMBER";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp SV_DOT       &kp N7  &kp N8  &kp N9        &kp SV_PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp SV_ASTERISK  &kp N4  &kp N5  &kp N6        &kp SV_EQUAL  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp SV_SLASH     &kp N1  &kp N2  &kp NUMBER_3  &kp SV_MINUS  &trans
                        &trans  &trans  &trans                  &trans           &kp N0  &trans
            >;
        };

        SYSTEM {
            display-name = "EXTRA 2";
            bindings = <
&rgb_ug RGB_ON   &trans        &trans        &trans        &trans          &trans          &trans  &trans  &trans      &trans  &trans  &trans      &trans  &trans
&rgb_ug RGB_OFF  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4    &trans  &trans  &bt BT_NXT  &trans  &trans  &bt BT_PRV  &trans  &trans
&out OUT_TOG     &bt BT_CLR    &sys_reset    &bootloader   &studio_unlock  &bt BT_CLR_ALL                  &trans      &trans  &trans  &trans      &trans  &trans
                                             &trans        &trans          &trans                          &trans      &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
